<!DOCTYPE html>
<html>
    <head>
        <title>Recursive Sieve</title>
    </head>
    <body>
        <form action="/Return" method="post">
            <label for="user-num">Number</label>
            <input id="Number" name="Number" type="text">
            <button type="submit">SIEVE</button>
        </form>
    </body>

</html>


